


body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}
.centro{
   
    width: 500px;
    margin: 0px auto;
    padding-top: 50px;
}
.centro h1{
    color:rgb(242, 240, 240);
    text-align: center;
}
.space{
    margin-bottom: 10px;
}

.mensagem-error{
    color: brown;
    background-color: aliceblue;
}
.mensagem{
    color:aliceblue;
text-align: center;
padding-top: 50px;
}
